



<body>
    <h1>Edit Student</h1>

    {{ form_start(f) }}
    {{ form_row(f.name) }}
    {{ form_row(f.email) }}
    {{ form_row(f.age) }}


    {{ form_row(f.classroom) }}

    <button type="submit" class="btn btn-primary">Update Student</button>
    {{ form_end(f) }}

    <a href="{{ path('list') }}">Back to Student List</a>
</body>
